$lb-background: #f2f2f2 !default;
// $lb-border: 3px solid #999 !default;
$lb-margin: 24px 0 !default;
$lb-padding: 16px !default;
$lb-img-width: 72px !default;
$lb-radius: 3px !default;
$lb-uri-font-size: 0.7em !default;
$lb-title-font-size: 14px !default;
$lb-color: #333 !default;

.wptls {
  margin: $lb-margin;

  &__item {
    display: flex;
    padding: $lb-padding;
    background: $lb-background;
    // border-left: $lb-border;
    border-radius: $lb-radius;
    // color: $lb-color;
    text-decoration: none;
  }

  &__img {
    flex-shrink: 0;
    margin: 0 $lb-padding 0 0;
    width: $lb-img-width;

    // order: 1;
    > img {
      display: block;
      max-width: 100%;
      height: auto !important;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__favicon{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 1px;
  }

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: $lb-title-font-size;
    line-height: 1.4;
  }

  &__domain {
    margin-top: $lb-padding;
    // border-top: 1px solid #ccc;
    color: #999;
    word-wrap: break-word;
    font-size: $lb-uri-font-size;
    line-height: 1;
  }
}
